**/__pycache__/

.DS_Store

/caltech101/

Phase1/.ipynb_checkpoints/

Phase2/LatentSemantics

.vscode/*    
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/launch.json

MongoTransfer.py
MongoCounter.py
.vscode/launch.json
